<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
</head>
<body>
<div th:replace="~{inc/header :: header}"></div>
<h2>Join</h2>

<form method="POST" action="/joinok">
    <table class="vertical content">
        <tr>
            <th>아이디</th>
            <td><input type="text" name="username" class="short" required></td>
        </tr>
        <tr>
            <th>암호</th>
            <td><input type="password" name="password" class="short" required></td>
        </tr>
        <tr>
            <th>권한</th>
            <td>
                <select name="role">
                    <option value="ROLE_MEMBER">일반회원</option>
                    <option value="ROLE_ADMIN">관리자</option>
                </select>
            </td>
        </tr>
    </table>
    <div>
        <button>가입하기</button>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>

</body>
</html>